<script>


$(document).ready(function() {
  $('.js-example-basic-single').select2({
    minimumInputLength: 4
    
  });
});
</script>

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}



.navy {
  font-size: 12px;
  color: #262626;
  font-weight: 300;
}
/* Float four columns side by side */
.column {
  float: left;
  width: 30%;
  padding: 0 10px;
  clear: left;
}
.column2 {
  float: left;
  width: 60%;
  padding: 0 0px;
}

.row {margin: 0 -5px;}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
</style>
</head>
<body>
  


<div class="fluid-container">
<div class="row">
  <div class="col-sm-3">
        
        
  
      
    
  </div>
  <div class="col-sm-9">
     
      
        
      
    
  </div>
</div>
</div>

</body>

</html>